<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <testsuites>
        <testsuite name="testAll">
            <file>api/tests/products.test.php</file>
            <file>api/tests/user.test.php</file>
            <file>api/tests/order.test.php</file>
            <file>api/tests/admin.test.php</file>
            <file>api/tests/message.test.php</file>
            <exclude>api/src/db.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./api/tests</directory>
        </blacklist>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">api/src</directory>
            <exclude>
              <file>api/src/db.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
